<!DOCTYPE html>
<html lang="en">
<head>
  <title>Nelisa</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel='stylesheet' href='main.css'> 
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> 
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>-->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<div class="wide">
  <h1>NELISA'S <small style='color:lightgrey;'>SPAZASHOP</small></h1><br/>
</div>

 <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Nelisa</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="./">HOME</a></li>
            <li><a href="./suppliers">SUPPLIERS</a></li>
            <li><a href="./products" onclick="document.">PRODUCTS</a></li>
            <li><a href="./sales">SALES</a><li>
            <li><a href="./profits">PROFITS</a></li>
            <li><a href="./other">OTHER</a></li>    
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>

<!--<script type="text/javascript">
  $(document).ready(function(){
    $(window).bind("resize", resizeWindow);
    function resizeWindow(e){
      var newWindowWidth = $(window).width();

      // If width width is below 600px, switch to the mobile stylesheet
      if(newWindowWidth < 600){        
      $("link[rel=stylesheet]").attr({href : "mobile.css"});       
       }       
       // Else if width is above 600px, switch to the large stylesheet       
       else if(newWindowWidth > 600){
        $("link[rel=stylesheet]").attr({href : "style.css"});
      }
    }-->

{{{body}}}

</body>
<script src="main.js"></script>
</html>
