<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel='stylesheet' href='main.css'> 
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> 
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<div class="wide">
  <h1>NELISA'S <small style='color:lightgrey;'>SPAZASHOP</small></h1><br/>
</div>

 <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bootstrap theme</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="./home">HOME</a></li>
            <li><a href="./suppliers">SUPPLIERS</a></li>
            <li><a href="./products">PRODUCTS</a></li>
            <li><a href="./sales">SALES</a><li>
            <li><a href="./profits">PROFITS</a></li>
            <li><a href="./other">OTHER</a></li>    
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>

<div class="row">
  <div class="col-md-8" style="background-color:white; margin-left:30vw; margin-top:10%; height:15vw; width:40vw;">
    <div class="row">
      <div class="col-md-6" style="background-color:lavender; height:15vw; width:20vw;"><img  src="images/mixed_sweets.jpg" style="width: 10vw; height: 10vw; padding: 2%; margin-top:5%; border: 2px solid black;"/></div>
       <div class="col-md-6" style="background-color:lightgray; height:15vw; width:20vw;"><strong style="font-size:1.5em;">Mixed Sweets 5s R3.00 p/pkt, UnitsSold: 172 p/wk</strong></div>
    </div>
  </div>
      <div class="col-md-4" style="background-color:lightcyan; margin-left:30vw; height:3vw; width:40vw;"><strong style="font-size:1.8em;">Total : R516.00</strong></div>
</div>

<span class="glyphicon glyphicon-chevron-right"style="color:red; width:20vw; height:20vw; margin-left:72%; margin-top:-100%; font-size: 8vw;"></span>
<span class="glyphicon glyphicon-chevron-left"style="color:red; width:20vw; height:20vw; margin-left:-75%; margin-top:-100%; font-size: 8vw;"></span>

{{{body}}}

</body>
<script src="main.js"></script>
</html>
