<ul>
   <li><a href="./suppliers">SUPPLIERS</a></li>
   <li><a href="./products">PRODUCTS</a></li>
   <li><a href="./sales">SALES</a><li>
   <li><a href="./profits">PROFITS</a></li>
   <li><a href="./other">OTHER</a></li>
</ul>

{{{body}}}