<span id='showSales' class='showButton'>View <br/>sales list</span>
 <div id='exitSales' class='exitButton'>close table</span></div>
<div id='sales'>

 <div class="container">
  
    

  <table class='table' id='salesTable'> 

    <thead>

      <tr> 

         <th>date</th>
         <th>name</th>
         <th>quantity</th>
         <th>price</th>
      </tr>
    </thead>

    <tbody>
      {{#each sales}}

      <tr>

         <td>{{date}}</td>
         <td>{{name}}</td>
         <td>{{quantity}}</td>
         <td>{{price}}</td>
      </tr>  
     {{/each}}
    </tbody>
  </table>

</div>
</div>