
#maino{
    font-family: 'Dosis', sans-serif;
	padding: -5%;
	margin-top: -4%;
	border-radius: 0px;
	background: black;
	border-bottom:1px solid orange;
	/*border-top-left-radius: 3em;
	border-top-right-radius: 3em;*/
	box-shadow: 1px 1px 5px 1px black;
	margin-bottom: 1.7%;
}

#navli li a{
	color:orange;
	font-weight: 900;
}
.btn-group-vertical{
	display: inline;
	cursor: pointer;
	font-family: 'Dosis', sans-serif;
	margin-top: -3%;
	padding-bottom: 1%;
	border-bottom:2px solid orange;
	margin-left: -30%;
	background:black;
	box-shadow: 1px 1px 1px 1px black;
	width: 160%;
	height:10%;
	list-style: none;
	text-align: center;
	color: #FFFFCC;
	transform:scale(.6);
	transition:transform 2s ease-in-out;

} 
.btn-group-vertical:hover{
	
	box-shadow: 2px 3px 80px 5px orange;
	border-top-left-radius:20px; 
	border-top-right-radius:20px;
	text-shadow:1px 1px orange;
	transition:transfrom .6s linear;

}
.list-item{
	background:black;
	color:white;
	width: 162%;
	height: auto;
    font-family: 'Dosis', sans-serif;
    box-shadow: 1px 1px 10px 1px black;
    display: none;
    margin-left: -30%;
    margin-top: -25;   
    font-weight: 100;
    font-size: 120%;
    padding-top: 1.5%;
    transform:scale(.6);
	transition:transform 2s ease-in-out;

}
.list-item img{
	max-width: 50%;
	max-height: 120%;
	border:2px solid orange;
	margin-left: 2%;
	border-radius: 10px;
	
}
#backOpts{
	background:black;
	height:200%;
	width:20%;
	margin-top: 10%;
	float:left;

	border-radius: 5%;
	box-shadow: 1px 1px 3px 1px black;
}
#prods{
	background:rgba(0,0,0,0.95);
	overflow:hidden;
	position:relative;
	margin-left: 23%;
	margin-top: -1%;
	width:75%;
	border-radius: 10px;
	border:1px solid black;
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
	box-shadow: 1px 1px 3px 1px black;
	visibility:hidden;
	transition:all 1s linear;
}
.table{
	width:7%;
	
	
}
#editOptions {visibility: hidden;}





.table thead{
	font-family: 'Dosis', sans-serif;
	font-size: 2vw;
	color:orange;
	width:10%;
	padding: 1%;
	text-align: left;

}

input{
	background:none;
	border:none;
}

.table tr td{
	color:white;
	
}
.table tr td div{
	visibility: hidden;
	margin-left: 5%;
	color:grey;

}
.table tr td input{
	padding:1%;
	letter-spacing: 2px;
	

}
.table tr td input:focus{
	outline:0;
	background:rgba(255,153,0,0.2);
	letter-spacing: 2px;
}
.table tr td span{
	visibility: hidden;
	color:grey;
	margin-left:5%;
}
.table tr td span:hover,.table tr td div:hover{
	box-shadow:1px 1px 2px 1px black;
	transform:scale(1.6);
	transition:transform .2s;
	border-radius: 20px;
	padding:.2%;
	letter-spacing: 2px;
}

.table tr td:hover{
	transform:scale(1.02);
	transition:transform .1s;
	background:white;
	color:black;
	box-shadow: 1px 1px 3px 1px black;
}


.wide{

	background: url('sp3.jpg');
	background-size: cover;
	top:-100%;
	height:65%;
	margin-top: -2%;
	padding:6.5%;
}
.wide h1{
	color:black;
	-webkit-filter: contrast(1.5) saturate(1.7);
	border-radius: 30px;
	
	
	text-align: center;
	padding:1%;
	
	width:35%;
	text-shadow:2px 2px black;
	font-size:300%;
	font-weight: 900;
	margin-left: -15%;
	margin-top: -2%;
	
	font-family: 'Dosis', sans-serif;
	


}

body{
	font-family: 'Dosis', sans-serif;
	background: url('back.jpg');
	background-size: cover;

}

.row{
	margin-top: -3%;
}
.col-md-6{
	opacity: .9;
	margin-top: -15%;
	background:tomato;
	height: 55%;
	padding:2%;	

}
.col-md-4{
	opacity: .9;
	margin-top: 0.1%;
	height: 85%;
	
	background:orange;
}
#wrapper{
	position:absolute;
	margin-top: -8%;
	margin-left: 60%
}


.glyphicon-chevron-right{
	
	position: absolute;
	margin-left: 50%;
	margin-top: -50%;
	color:red;
	width:20vw;
	height:20vw;
	font-size: 12vw;
}
.glyphicon-chevron-left{
	position: absolute;
	margin-left: -230%;
	margin-top: -50%;
	color:red;
	width:20vw;
	height:20vw;
	font-size: 12vw;
}
.btn-group>.btn:first-child  {
	margin-left:20%; 
}
#order{
	position:absolute;
	margin-left:65%;
	margin-top: -10%;
	z-index: 1;
}
#web{
	position:absolute;
	margin-left:30.6%;
	margin-top: -5%;
	background:tomato;
	padding: 0.3%;
	border-top-left-radius: 20%;
	border-bottom-left-radius: 20%;

}
.glyphicon-globe{
	font-size: 150%;
}
.glyphicon-heart-empty{
	font-size: 150%;
}
#footer{
	width:100%;
	height:50%;
	background:black;
	color:white;
	text-align: center;
	padding:10%;
	position: absolute;
	display: inline-block;
	border-top: 3px solid orange;
	margin-top: 5%;
	font-family: 'Source Sans Pro', sans-serif;
}
#footer h5 a{color:orange;
			transition-timing-function:ease-in;/
			transition-property: transform;
			transition-duration: 1s;
			-webkit-transition-property: transform; 
			-webkit-transition-duration: 1s; 
			}
#footer h5 a:hover{
	transform:scale(1.2);
	border-radius: 20px;
	background:black;
	color:orange;
	box-shadow: 1px 1px 13px 1px grey;
	text-decoration: none;
	padding:.5%;
}

#show{
	cursor: pointer;
	position:absolute;
	padding:2%;
	color:orange;
	font-size: 3vw;
	font-weight: 900;
	background:black;
	border:1px solid white;
	border-radius:15px; 
	box-shadow: 1px 1px 10px 5px black;
	margin-left: 40%;
	margin-top: 10%;
}
#show:hover{
	background:orange;
	color: black;
	box-shadow: 1px 1px 30px 13px black;
};

div#exit{
	width:2%;
	height:3%;
	position: absolute;
	color:orange;
	background:red;
	border-radius:50px;
	padding:5%;
	border:2px solid white;
}