.btn-group-vertical{
	display: block;
	margin-left:30%;
	margin-top: 1%;
	border:2px solid lblack;
	border-radius: 10vw;
	background:#202020 ;
	box-shadow: 1px 1px 1px 1px black;
	width: 40%;
	height:10%;
	list-style: none;
	text-align: center;
	color: #FFFFCC;

} 

.list-item{
	background:orange;
	width: 35%;
	height: auto;
    border:1px solid grey;
    box-shadow: 1px 1px 10px 1px black;
    display: none;
    margin-left: 32%;
    margin-top: -3%;
    border-radius: 15%; 
    font-weight: 900;
    font-size: 100%;
    padding-top: 1.5%;
}
.list-item img{
	max-width: 50%;
	max-height: 100%;
	margin-top: 5%;
	border-bottom-left-radius: 15%;
}
.wide{
	background: url('sp2.jpg');
	background-size: cover;
	top:-100%;
	height:60%;
	margin-top: -3%;
	padding:10.5%;
}
.wide h1{
	color: #787878;
	width:35%;
	text-shadow:2px 2px black;
	font-size:280%;
	font-weight: 900;
	margin-left: -5%;
	margin-top: -5%;
	

	

}
body{

	background: url('back.jpg');
	background-size: cover;

}

.row{
	margin-top: -3%;
}
.col-md-6{
	opacity: .9;
	margin-top: -15%;
	background:tomato;
	height: 55%;
	padding:2%;	

}
.col-md-4{
	opacity: .9;
	margin-top: 0.1%;
	height: 85%;
	
	background:orange;
}
#wrapper{
	position:absolute;
	margin-top: -8%;
	margin-left: 60%
}


.glyphicon-chevron-right{
	
	position: absolute;
	margin-left: 50%;
	margin-top: -50%;
	color:red;
	width:20vw;
	height:20vw;
	font-size: 12vw;
}
.glyphicon-chevron-left{
	position: absolute;
	margin-left: -230%;
	margin-top: -50%;
	color:red;
	width:20vw;
	height:20vw;
	font-size: 12vw;
}
.btn-group>.btn:first-child  {
	margin-left:20%; 
}
#order{
	position:absolute;
	margin-left:20%;
	margin-top: -5%;
}
#web{
	position:absolute;
	margin-left:30.6%;
	margin-top: -5%;
	background:tomato;
	padding: 0.3%;
	border-top-left-radius: 20%;
	border-bottom-left-radius: 20%;

}
.glyphicon-globe{
	font-size: 150%;
}
.glyphicon-heart-empty{
	font-size: 150%;
}