.btn-group-vertical{
	display: block;
	margin-left:30%;
	border:2px solid lightgrey;
	border-radius: 10vw;
	background:skyblue;
	box-shadow: 1px 1px 10px 1px;
	width: 40%;
	height:10%;
	list-style: none;
	text-align: center;

} 
#small{color: white;}
.list-item{
	background:lightgrey;
	width: 35%;
	height: auto;
    padding: 5%;
    display: none;
    margin-left: 32%;
}
.list-item img{
	max-width: 40%;
	max-height: 30%;
}
.wide{
	background: url('sp2.jpg');
	background-size: cover;
	top:-100%;
	height:60%;
	margin-top: -3%;
	padding:8%;
}